body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  body {
    display: block;
    background-color: #ADD8E6;
    color: #191970;
    border-width: 5px;
    border-style: groove;
    border-color: lightcoral;
    display: inline-flexbox;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .title {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    border-width: 20px;
    border-style: groove;
    border-color: lightcoral;
    columns: 2;
  }
  
  #name {
    font-size: xx-large;
    text-decoration: none;
    
  }
  
  